.react-datepicker-popper {
  display: flex;
  gap: 36px;
  padding: 24px 12px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(113, 125, 150, 0.05);
  border: 1px solid #cacaca; 
  margin-top: 10px;
  z-index: 99;
  .react-datepicker {min-width: 250px; position: relative;}
  .react-datepicker .react-datepicker__sr-only {display: none;}
  .react-datepicker .react-datepicker__triangle, .react-datepicker .react-datepicker__aria-live {display: none;}
  .react-datepicker .react-datepicker__navigation {align-items: center; background: none; display: flex; justify-content: center; text-align: center; cursor: pointer; position: absolute; top: 2px; padding: 0; border: none; z-index: 1; text-indent: -999em; overflow: hidden; right: 0;}    
  .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous {right: 20px;}
  .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next {right: 0;}
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon {position: relative; height: 20px; width: 20px;}
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon::before {border-color: #EADDC3; border-style: solid; border-width: 2px 2px 0 0; content: ""; display: block; height: 8px; width: 8px; position: absolute; top: 6px; left: 8px; transform: rotate(45deg);}
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon-double::after {border-color: #EADDC3; border-style: solid; border-width: 2px 2px 0 0; content: ""; display: block; height: 8px; width: 8px; position: absolute; top: 6px; left: 2px; transform: rotate(45deg);}
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon:hover::before,
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon:hover::after {border-color: #000000;}
  .react-datepicker .react-datepicker__navigation .react-datepicker__navigation-icon--previous {transform: rotate(180deg);}
  .react-datepicker .react-datepicker__header .react-datepicker__custom-year-selector {display: flex; justify-content: center; gap: 5px;}
  .react-datepicker .react-datepicker__header {display: flex; flex: no-wrap; flex-direction: column;}
  .react-datepicker .react-datepicker__header .react-datepicker__current-month {flex: 1;  color: #000000; font-size: 1rem; margin-bottom: 1rem; padding: 0 5px; font-weight: 600;}
  .react-datepicker .react-datepicker__day-names {display: flex; flex: no-wrap; text-align: center; color: #EADDC3; margin-bottom: 5px;} 
  .react-datepicker .react-datepicker__day-names .react-datepicker__day-name {flex: 1 1; width: 36px; height: 36px;}
  .react-datepicker .react-datepicker__month {display: flex; flex: no-wrap; flex-direction: column;}
  .react-datepicker .react-datepicker__month .react-datepicker__week {display: flex; flex: no-wrap; text-align: center;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day {position: relative; z-index: 1; flex: 1; align-self: center; font-weight: 500; border-radius: 50%; cursor: pointer; width: 36px; height: 36px; display: flex; align-items: center; justify-content: center;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--outside-month {color: #EADDC3}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--selected {background-color: #EADDC3; color: #ffffff;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--selected:before {content: ""; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; z-index: -1; border-radius: 50%; background-color: #000000;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--disabled {color: #EADDC3;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--today {background-color: #EADDC3;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--in-range {background-color: #EADDC3; color: #000000; border-radius: 0;}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--range-start {border-radius: 50% 0 0 50%; background-color: #EADDC3; color: #ffffff}
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--range-end {border-radius: 0 50% 50% 0; background-color: #EADDC3; color: #ffffff}  
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--range-start.react-datepicker__day--range-end {border-radius: 50%;}  
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--range-start:before,
  .react-datepicker .react-datepicker__month .react-datepicker__week .react-datepicker__day.react-datepicker__day--range-end:before {content: ""; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; z-index: -1; border-radius: 50%; background-color: #000000;}
  .react-datepicker-datesets {display: flex; flex-direction: column; white-space: nowrap; gap: 2px; width: 100%;}
  .react-datepicker-datesets .react-datepicker-datesets-set {flex: 0 1; display: grid; align-content: center; cursor: pointer; padding: 5px 12px; border-radius: 4px;}
  .react-datepicker-datesets .react-datepicker-datesets-set.active,
  .react-datepicker-datesets .react-datepicker-datesets-set:hover {background-color: #EADDC3; color: #000000;}
  .react-datepicker-datesets .react-datepicker-datesets-set.react-datepicker-datesets-reset {margin-top: auto; color: #EADDC3;}
  .react-datepicker .react-datepicker__time-list {padding: 0; list-style-type: none; max-height: 50px; overflow: auto;}
  .react-datepicker .react-datepicker__time-list .react-datepicker__time-list-item:hover {background-color: #EADDC3;}
  .react-datepicker .react-datepicker__time-list .react-datepicker__time-list-item--selected {background-color: #000000!important; color: #ffffff!important;}
}

@media (max-width: 991px){
  .react-datepicker-wrapper {
    flex-wrap: wrap-reverse;
  }
}