.carouselWrapper {
  position: relative;
  overflow: hidden;  
  &.toggles-centercenter {
    padding-inline: 40px;
    .carousel {
        max-width: calc(100vw - 100px);
    }
  }  
}

.carousel {
  position: relative;  
  max-width: calc(100vw - 25px);
  overflow: hidden;    

  .carouselInner {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;  
  }

  .carouselItem {
    padding: 0 12.5px;  
    flex: 0 0 100%; 
  } 

  .carouselMoveLeft .carouselItem {animation: moveleft .5s linear 1 forwards; }
  .carouselMoveRight .carouselItem {animation: moveright .5s linear 1 forwards;}   

   @media (width >= 768px) {
    .carouselInner {
      &[data-columns="1"] .carouselItem { flex: 0 0 100%; }
      &[data-columns="2"] .carouselItem { flex: 0 0 50%; }
      &[data-columns="3"] .carouselItem { flex: 0 0 33.33%; }
      &[data-columns="4"] .carouselItem { flex: 0 0 25%; }
      &[data-columns="5"] .carouselItem { flex: 0 0 20%; }
      &[data-columns="6"] .carouselItem { flex: 0 0 16.66%; }
      &[data-columns="7"] .carouselItem { flex: 0 0 14.28%; }
      &[data-columns="8"] .carouselItem { flex: 0 0 12.5%; }
      &[data-columns="9"] .carouselItem { flex: 0 0 11.11%; }
      &[data-columns="10"] .carouselItem { flex: 0 0 10%; }
      &[data-columns="11"] .carouselItem { flex: 0 0 9.09%; }
      &[data-columns="12"] .carouselItem { flex: 0 0 8.33%; }
    }      
  }
}

.toggles {
  position: relative;
  z-index: 3;      
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 12.5px;
  
  .togglePrev, 
  .toggleNext {
    cursor: pointer;
    text-indent: -1000px;
    overflow: hidden;
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2280%22%20height%3D%22124%22%20viewBox%3D%220%200%2080%20124%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M50.2119%205.11987L5.09435%2049.8466C3.47947%2051.4443%202.19827%2053.3419%201.32412%2055.431C0.44996%2057.5201%200%2059.7596%200%2062.0213C0%2064.283%200.44996%2066.5225%201.32412%2068.6116C2.19827%2070.7007%203.47947%2072.5983%205.09435%2074.1959L50.2119%20118.923C61.1865%20129.802%2080%20122.031%2080%20106.662V17.2082C80%201.83875%2061.1865%20-5.75961%2050.2119%205.11987Z%22%20fill%3D%22%23000000%22/%3E%3C/svg%3E");
    &:hover {
      opacity: .65;
    }
  }

  .toggleNext {
    transform: rotate(180deg);
  }

  &[class~="bottomspaced"] { justify-content: space-between; }
  &[class~="bottomcenter"] { justify-content: center; }
  &[class~="centercenter"] { position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); justify-content: space-between; height: 0; overflow: visible; margin-top: 0; }
}  


@keyframes moveleft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


@keyframes moveright {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}